<div class="center hero-unit">
	<h1>GoingChat</h1>

	<h2>
	  This is the GoingChat home page. A place for employees of <a href="http://thegoinggroup.com/">The Going Group</a>
	  to share.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<!--<%= link_to image_tag( "store_front.png", alt: "Rails"), 'http://thegoinggroup.com/' %> -->