<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This site is a place where employees of <a href="http://thegoinggroup.com">The Going Group</a>
  can post thoughts, observations and more....The application is a work in progress.
</p>