<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  The best way to contact the site administrator would be via <%= mail_to "bob@aol.com",  name="email", subject: "Question about GoingChat" %>.
</p>

